@model HomeInsurance.Models.VerifyPolicy

@{
    ViewBag.Title = "Buy Policy";
    ViewBag.PageTitle = "Buy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.QuoteId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-1">
            @Html.TextBoxFor(model => model.QuoteId, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PolicyStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PolicyStartDate, new { htmlAttributes = new { @class = "form-control" } })
            <b>Policy start date cannot be more than 60 days from today's date.</b>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Acknowledge, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Acknowledge)
                <span>
                    This is to acknowledge that I have read the
                    @Html.ActionLink("terms and conditions", "PolicyTerms", "Details") of the policy.
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ValidationSummary()
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}