<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Home Insurance</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <h1 class="shared-text">Homeowner Insurance</h1>
        <nav class='navbar navbar-default'>
            <div class='container-fluid container'>
                @if (Session["User"] != null) {
                    @Html.ActionLink("Home", "LoginUser", "Welcome", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Get Quote", "GetStarted", "Quotes", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Retrieve Quote", "QuoteDetails", "Quotes", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Logout", "LogoutUser", "Welcome", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
        </nav>
        <hr class="underline-border" />
        <h3 class="shared-text">@ViewBag.PageTitle</h3>
        <div class="body-padding">
            @RenderBody()
        </div>
        <hr class="underline-border" />
        <footer>
            <p class="shared-text">Copyright &copy; @DateTime.Now.Year Homeownerinsurance.com All Rights Reserved</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>